@media screen and (max-width:576px) {
    .manage-item {
        width: 98% !important;
        padding: 30px 20px !important;
    }

    .table {
        border: 1px solid black;
    }

    .mbl {
        display: none;
    }
}