.contact {
    border-radius: 0 0 50px 50px;
}

@media screen and (max-width:576px) {
    .contact {
        width: 95% !important;
        border-radius: 10px !important;
    }

    .contact .image {
        display: none;
    }
}