.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.btn-update {
    color: whitesmoke;
    border: none;
    background: linear-gradient(to right, #72deff, #00b4d4);
}

.btn-update:hover {
    color: white;
    background: linear-gradient(to right, #00b4d4, #72deff);
}