.fruits {
    border-radius: 50px;
}

.btn-manage {
    color: white;
    background: linear-gradient(to right, #63acff, #0051d4)
}

.btn-manage:hover {
    color: white;
    background: linear-gradient(to right, #0051d4, #63acff)
}

@media screen and (max-width:576px) {
    .fruits {
        width: 95% !important;
    }
}