.banner {
    background-color: #31e7ff15;
    border-radius: 0 0 50px 50px;
    padding-top: 30px;
}

.banner-header h2 {
    font-size: 48px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.banner-header h3 {
    font-size: 40px;
    background: linear-gradient(to right, #f32170,
            #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media screen and (max-width:576px) {
    .banner-container {
        display: block !important;
    }

    .banner-header h2,
    .banner-header h3 {
        font-size: 30px;
        text-align: center;
    }

    .banner-header,
    .banner-img {
        width: 100% !important;
        padding: 0 20px;
    }
}