.projects a {
    text-decoration: none;
    color: #2497a6;
}

.social a {
    margin-right: 20px;
    font-size: 20px;
    color: #2497a6;
}

@media screen and (max-width:576px) {
    .about {
        flex-direction: column !important;
        width: 95% !important;
        text-align: center !important;
    }

    .info {
        width: 100% !important;
        order: 2;
    }

    .image {
        width: 100% !important;
        order: 1;
        margin-bottom: 20px;
    }

    .social a {
        margin: 0;
        padding: 0 15px;
    }
}